@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}
<link rel="stylesheet" href="~/css/home.css">


<div>

    <div class="reading-status">
        <h3>What are you reading?</h3>
        <div class="search-box">
            <form method="get" action="/Index" class="d-flex w-100">
                <input type="text" asp-for="SearchQuery" placeholder="Search books" value="@Model.SearchQuery"
                    class="form-control" />
                <button type="submit" class="btn btn-primary ms-2">🔍</button>
            </form>

        </div>

        @if (Request.Cookies["User"] != null)
        {

            <div class="books-section">
                <h3>My Books</h3>
                @if (Model.mybooks.Count > 0)
                {
                    <div class="books-grid">
                        @foreach (var book in Model.mybooks)


                        {

                            <div class="book-card" href="/BookDetails?itemid=@book.Id">
                                <img src="~/@book.cover_image" alt="Book cover" class="book-cover"
                                    onerror="this.onerror=null; this.src='/uploads/default.jpeg';">


                                <div class="book-info">
                                    <h4 class="book-title">@book.Title</h4>
                                    <p class="book-author">@book.Author</p>
                                    <a class="book-rating" href="/AddReview?itemid=@book.Id">
                                        ★★★★☆ @Math.Round(@book.avgRate, 2)
                                    </a>

                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <p>No books in your library or satisfy the search</p>
                }


                @if (Request.Cookies["is_admin"] == "admin")
                {
                    <a class="btn btn-success" href="/AddBook">
                        Add New Book
                    </a>
                }
            </div>
        }
        else
        {
            <h1>Please Sign in</h1>
        }

        <div class="carousel-section">
            <div class="carousel-container bg-white p-4">
                <div id="quotesCarousel" class="carousel slide mb-4" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        @if (Model.myquotes != null && Model.myquotes.Count > 0)
                        {
                            for (int i = 0; i < Model.myquotes.Count; i++)
                            {
                                var quote = Model.myquotes[i];
                                <div class="carousel-item @(i == 0 ? "active" : "")">
                                    <div class="quote-card">
                                        <p class="quote-text">@quote.quote</p>
                                        <p class="quote-author">@quote.author</p>
                                        <p class="quote-book">@quote.book</p>
                                        <p class="quote-book">@quote.dateTime</p>
                                        <p class="quote-book">@quote.numberofpages</p>

                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <p class="text-center">No quotes found.</p>
                        }
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#quotesCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#quotesCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <div id="notesCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        @if (Model.mynotes != null && Model.mynotes.Count > 0)
                        {
                            for (int i = 0; i < Model.mynotes.Count; i++)
                            {
                                var note = Model.mynotes[i];
                                <div class="carousel-item @(i == 0 ? "active" : "")">
                                    <div class="quote-card">
                                        <p class="quote-text">@note.desc</p>
                                        <p class="quote-author">@note.author</p>
                                        <p class="quote-book">@note.book</p>
                                        <p class="quote-book">@note.dateTime</p>
                                        <p class="quote-book">@note.numberofpages</p>


                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <p class="text-center">No Notes found.</p>
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#notesCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#notesCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                @if (Request.Cookies["User"] != null)
                {
                    <a class="btn btn-primary" href="/AddNote">
                        Add New Note
                    </a>
                    <a class="btn btn-primary" href="/AddQuote">
                        Add New Quote
                    </a>
                }
            </div>

        </div>

    </div>
    @if (Request.Cookies["User"] != null)
    {
        <div style="display:flex; flex-direction:row;">
            <div>
                <form method="post">

                    <button type="submit" class="btn btn-danger ms-2">Logout</button>
                </form>
            </div>
            <div style="width:100px;">
            </div>

            <div class="">
                <a href="/ChangePassword" class="btn btn-primary">Change your password</a>

            </div>
        </div>
    }



</div>

<aside class="sidebar">

    <div class="books-section">
        <div class="reading-challenge">
            <h3> My Reading Goals</h3>

            <div class="challenge-stats">
                @foreach (var notification in Model.duegoing)
                {
                    <div class="card">
                        <div class="card-header">
                            <h3>@notification.Title</h3>
                        </div>
                        <div class="card-body">
                            <div class="year">@notification.time.ToString("yyyy-MM-dd")</div>
                            <div class="year">@notification.pages Page</div>

                            <div class="message">
                                <p>@notification.Message</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @if (Request.Cookies["User"] != null)
            {
                <div style="display:flex;flex-direction:row;">
                    <a href="/AddGoals" class="btn btn-success">Add More Goals</a>
                </div>
            }
        </div>

    </div>

    @if (Request.Cookies["User"] != null)
    {
        <div class="books-section">
            <h3>My Clubs</h3>
            <div class="books-grid">
                @foreach (var club in Model.myclubs)


                {
                    <div class="book-card">
                        <div class="book-info">
                            <h4 class="book-title">@club.name</h4>
                        </div>
                    </div>
                }
            </div>
            @if (Request.Cookies["is_admin"] == "admin")
            {
                <a class="btn btn-primary" href="/AddClub">
                    Add a New club</a>
            }
        </div>
    }
    @if (Request.Cookies["User"] != null)
    {
        <div class="books-section">
            <h3>Categories</h3>
            @if (Request.Cookies["is_admin"] == "admin")
            {

                <a class="btn btn-primary" href="/AddCategory">Add a New Categroy</a>
            }


        </div>
    }

</aside>

<script src="~/js/homeCounter.js"></script>
<script src="~/js/home.js"></script>
